.sq-completed {
    height: 10px;
    width: 30px;
    background-color: #c7c7c7;
}

.sq-pending {
    height: 10px;
    width: 30px;
    background-color: #a7c88f;
}

.div-section {
    display: flex;
    gap: 10px;
}

.div-section-1 {
    display: flex;
    margin-top: 2%;
    align-items: center;
    gap: 10px;
    background: #d6d9dd;
    height: 37px;
    border-radius: 5px;
    padding: 5px;
}

.div-section-font-1 {
    font-size: 15px;
    font-weight: 700;
}

.div-section-font {
    font-size: 13px;
}

.h4-section {
    font-size: 14px;
    font-weight: 600;
    margin-top: 1%;
    margin: 0px;
}

.chartSection {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.legend-section {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.legend-section-1 {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.legend-section-2 {
    display: flex;
    gap: 8px;
    align-items: baseline;
}