<div class="accordion" id="accordionExample">
  <div class="div-section-text">
    <header class="fw-medium">Program outcomes</header>
  </div>
  <div *ngFor="let item of accordianData; let i = index" class="accordion-item">
    <p class="accordion-header m-0" [attr.id]="'heading' + i">
      <button class="accordion-button shadow-none d-flex flex-column gap-1 font-style" type="button"
        data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
        [attr.aria-expanded]="i === 0 ? 'true' : 'false'" [attr.aria-controls]="'collapse' + i"
        [class.collapsed]="i !== 0">
        <div class="d-flex align-items-center gap-2 justify-content-left item-style">
          <h4 class="m-0 h4-text">
            <span class="badge fw-normal"> {{ item.PO }} </span>
          </h4>
          <span class="text-secondary">Evaluation: </span>
          <span>{{ item.evaluation.completed }} out of
            {{ item.evaluation.total }}</span>
        </div>
        <div class="div-section-item">
          {{ item.skill }}
        </div>
        <div class="w-100 d-flex align-items-center gap-2 div-section-item-1">
          <div class="progress w-75 progress-style" role="progressbar" aria-label="Progress bar"
            [attr.aria-valuenow]="item.progress" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" [style.width]="item.progress" style="background-color: #91b07c"></div>
          </div>
          <span>{{ item.progress }}</span>
        </div>
      </button>
    </p>
    <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [class.show]="i === 0"
      data-bs-parent="#accordionExample">
      <div class="accordion-body pt-0" style="font-size: 12px">
        <header class="text-warning fw-medium">Description</header>
        <p>
          Application of tools & techniques relevant to management theories and
          practices in analyzing & solving business issues.
        </p>
        <strong>PEOs Mapped </strong><br />
        <span>PEO 5</span>
      </div>
    </div>
  </div>
</div>