.accordion-button::after {
  position: relative;
  top: -74px;
}

.accordion-button:hover {
  background-color: #ebf4f8;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ebf4f8;
}

.accordion-body {
  background-color: #ebf4f8;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.div-section-text {
  border: 1px solid lightgray;
  padding: 10px 0px 10px 5px;
  background: white;
  border-radius: 5px 5px 0px 0px;
}

.font-style {
  font-size: 12px;
  height: 90px
}

.item-style {
  text-align: left;
  width: inherit;
  font-size: inherit;
}

.h4-text {
  background-color: #2e6995;
  border-radius: 5px
}

.div-section-item {
  text-align: left;
  width: inherit;
  font-size: inherit;
  font-weight: 500;
}

.progress-style {
  height: 5px;
  background-color: lightgray
}

.div-section-item-1 {
  text-align: left;
  width: inherit;
  font-size: inherit
}